body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #838282;
  }    
    
h1 {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
  }
th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
    background: #cacaca;
  }
th {
    background: #999999;
  }
.controls {
    margin-bottom: 15px;
    margin-left: 25%;
  }
#location {
  background-color: #aaaaaa;
}
#button {
  background-color: #aaaaaa;
}